<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>LCA</title>
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">

  </head>
  <body>
    
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Lane Change Assist</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>
    </header>
    
    <main>
    
         
      <div class="container marketing" style="padding-top: 5%;align-items: center;">
    
        
        <div class="row" style="padding-bottom: 3%;padding-top: 2%;">
          <div class="col-lg-4" style="align-items: center;">       
            <h2 style="padding-top: 2%;">Draw Lanes</h2>
            <p>This contains the DrawLanes application and the button below redirects you to download the pyhton library so it can be used in your python code</p>
            <p><a href="https://drive.google.com/drive/folders/1jj5C6VeQDQTx0NklsUg6CJQgbjZnaMDJ?usp=sharing"><button type="submit" class="btn btn-primary btn-sm">View Details &raquo;</button></a></p>
            
          </div>
          <div class="col-lg-4">
           
            
    
            <h2 style="padding-top: 2%;">Neural Network</h2>
            <p>It's a interface to check out how our neural network works for various conditions. You can enter the conditions manually and get the result.</p>
            <p><button type="submit"  class="btn btn-primary btn-sm" onclick="window.location.href='/flask_app_2';">Try it! &raquo;</button></p>
          </div>
          <div class="col-lg-4">
            
            <h2>KBANN</h2>
            <p>This is a semi-automated interface where the system takes a video input (only mp4) from the user and does the Lane detection,Object detection and Lane Change Decision making.</p>
            <p><button type="submit" class="btn btn-primary btn-sm">Check it out &raquo;</button></p>
            <form action="/upload" enctype="multipart/form-data" method="POST">
                <input type="file" name="pic">
                <input type="submit" value="Upload &rsaquo;" style="color: black;">
            </form>
          </div>
        </div>
        <div class="row" style="padding-bottom: 2%;padding-top: 0%;">
          <div class="col-lg-4" style="align-items: center;">            
            <h2 style="padding-top: 2%;">Train the NN</h2>
            <p>Click the button below to train the NN. If not clicked a pre-trained model will be used for prediction.</p>
            <p><mark style="background-color: rgb(52, 214, 52);font-weight: bold;">NN is trained and KB is consistent</mark></p>
           </div>
        </div>                  
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Ontology of KB.   <span class="text-muted">It’s just a snippet</span></h2>
            <p class="lead">
              Beside this lies a snippet of how ontology is designed for the KB.
              You can always check out what it contains with the link below.
            </p>
            <p><a href="https://drive.google.com/file/d/11TCXU6b_5lzEZQ9qV_R0BdidBnsebWbx/view?usp=sharing"><button type="submit" class="btn btn-primary btn-sm">Ontology &rarrw;</button></a></p>
          </div>
          <div class="col-md-5">
            <img src="E:\M Sc Intelligent systems\Semester 2\SDT\Web Interface\Integration\flask_app_3\static\car.jpg" alt="car" width="350" height="200">
          </div>
        </div>
    
 
        
    
        <hr class="featurette-divider">
    
        <!-- /END THE FEATURETTES -->
    
      </div><!-- /.container -->
    
    
      <!-- FOOTER -->
      <footer class="container">
        
        <p>&copy; 2020-2022 Sai Tejeswar Reddy &laquo; </p>
      </footer>
    </main>
    
    
        <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

   
  </body>
</html>
